.wrapper {
    background-color: bisque;
}

.coffee{
    background-color: pink;
    background-image: url("https://cdn1.medicalnewstoday.com/content/images/articles/322/322868/golden-retriever-puppy.jpg");
    height: 1000px;
    width: 100%;
}